@font-face {
  font-family: quicksand;
  src: url(/internship_zeus/tasks/Quantum/Quantum_screens/Quicksand\ font\ 1/quicksand);
}
html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0px;
  background-color: #EEEEEE;
  font-family: quicksand;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: 56px auto 74px;
  grid-template-areas: "h h h h h h h h h h h h" "c c c c c c c c c c c c" "f f f f f f f f f f f f";
  /*Header*/
  /*Footer*/
}
.container .main-content {
  grid-area: c;
}
.container .header {
  grid-area: h;
  background: transparent url(/internship_zeus/tasks/Quantum/Quantum_screens/header\ pattern\ svg.svg) 0% 0% padding-box;
  opacity: 0.8;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #31B9E4;
  padding: 10.5px 0 9.5px 24px;
}
.container .header .header > img {
  width: 134px;
  height: 36px;
}
.container .footer {
  grid-area: f;
  display: flex;
  flex-direction: column;
}
.container .footer .footer-top {
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: start;
  color: #1F7A54;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
.container .footer .vertical-line {
  margin: 0 10px 0 8px;
  color: rgba(0, 0, 0, 0.1215686275);
  height: 18px;
}
.container .footer .footer-bottom {
  background-color: #E0E1E1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  height: 24px;
}
.container .footer .footer-bottom > img {
  width: 90px;
  height: 24px;
}
.container .footer .footer-bottom > p {
  color: #616161;
  opacity: 1;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.container .footer .footer-logo {
  border-right: 1px solid rgba(0, 0, 0, 0.1215686275);
  margin: 0 16px;
  padding-right: 16px;
  height: 24px;
}
.container .footer #copyright {
  margin-right: 8px;
}
.container .footer #org-name {
  margin-right: 11px;
  font-weight: bold;
}

/*----------------------------------------------*/
form {
  height: 570px;
  width: 50%;
  display: block;
  max-width: 60%;
  background-color: #FFFFFF;
  border-radius: 2px 2px 0px 0px;
  margin: 50px auto 32px auto;
  padding: 0 32px;
  border: 1px solid rgb(255, 255, 255);
  border-top: 4px solid #3AC7EC;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.flex-container {
  display: flex;
}
.flex-container .form-title {
  margin: 20px auto 34px auto;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #222222;
}
.flex-container .back-button {
  width: 17px;
  height: 26px;
  margin: 20px 0 34px 0;
}
.flex-container .radio-icon {
  width: 20px;
  height: 24px;
  margin-right: 8px;
}
.flex-container .radio-label {
  color: #333333;
  margin-right: 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.dropdown-state {
  margin-top: 23px;
}

.dropdown-district {
  margin: 36px 0 56px 0;
}

.dropdown-label {
  color: #666666;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
}

.dropdown-input {
  color: #222222;
  margin: 0;
}

.underline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.float-right {
  margin-left: auto;
}

.floating-label {
  color: rgb(102, 102, 102);
  margin-bottom: 0;
}

.forget {
  color: rgb(31, 122, 84);
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  display: flex;
  justify-content: end;
}

.checkbox-div {
  margin: 26px 0 34px 0;
}
.checkbox-div .checkbox-icon {
  width: 18px;
  height: 24px;
  margin-right: 5px;
}
.checkbox-div .checkbox-txt {
  color: rgb(34, 34, 34);
  margin-top: 2px;
}

button {
  margin: 0 auto 24px auto;
  background-color: rgb(63, 210, 139);
  width: 216px;
  height: 40px;
  display: block;
  border: none;
  color: rgb(31, 40, 52);
  font-size: 14px;
  line-height: 18px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.24);
}/*# sourceMappingURL=loginSaas.css.map */